# load snd-usb-audio when this device is plugged in
# (also needs to register new_id for this device, see /etc/modprobe.d/aunamic.conf)
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d8c", ATTR{idProduct}=="0134", RUN+="/sbin/modprobe -qba snd-usb-audio"
