<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
  <item label="Run...">
    <action name="Execute">
      <command>rofi -show run -theme gruvbox-dark</command>
    </action>
  </item>
  <item label="Change Wallpaper...">
    <action name="Execute">
      <command>setwall</command>
    </action>
  </item>
  <item label="Sound Settings">
    <action name="Execute">
      <command>pavucontrol</command>
    </action>
  </item>
  <item label="Network Settings">
    <action name="Execute">
      <command>sh -c '$TERMINAL -e nmtui'</command>
    </action>
  </item>
  <item label="Reload Desktop Settings">
    <action name="Reconfigure" />
  </item>
  <item label="Exit...">
    <action name="Execute">
      <command>power_menu</command>
    </action>
  </item>
  <item label="Log Out...">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="Lock Screen">
    <action name="Execute">
      <command>loginctl lock-session</command>
    </action>
  </item>
</menu>

</openbox_menu>
